<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pleaseganana"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rad"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.example.rad.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rad.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.example.rad.MainActivity" >
        </activity>
        <activity
            android:name="com.example.rad.Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.rad.Shots"
            android:label="@string/title_activity_shots" >
        </activity>
        <activity
            android:name="com.example.rad.Vids"
            android:label="@string/title_activity_vids" >
        </activity>
        <activity
            android:name="com.example.rad.Rants"
            android:label="@string/title_activity_rants" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout1"
            android:label="@string/title_activity_row_layout1" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout2"
            android:label="@string/title_activity_row_layout2" >
        </activity>
        <activity
            android:name="com.example.rad.Notifications"
            android:label="@string/title_activity_notifications"
            android:parentActivityName="com.example.rad.Home" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout3"
            android:label="@string/title_activity_row_layout3" >
        </activity>
        <activity
            android:name="com.example.rad.Options"
            android:label="@string/title_activity_options"
            android:parentActivityName="com.example.rad.Profile" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout4"
            android:label="@string/title_activity_row_layout4" >
        </activity>
        <activity
            android:name="com.example.rad.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.rad.Options" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout5"
            android:label="@string/title_activity_row_layout5" >
        </activity>
        <activity
            android:name="com.example.rad.ChangePassword"
            android:label="@string/title_activity_change_password"
            android:parentActivityName="com.example.rad.Settings" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout6"
            android:label="@string/title_activity_row_layout6" >
        </activity>
        <activity
            android:name="com.example.rad.ShareSettings"
            android:label="@string/title_activity_share_settings"
            android:parentActivityName="com.example.rad.Settings" >
        </activity>
        <activity
            android:name="com.example.rad.RowLayout7"
            android:label="@string/title_activity_row_layout7" >
        </activity>
        <activity
            android:name="com.example.rad.EditProfile"
            android:label="@string/title_activity_tab_bot"
            android:parentActivityName="com.example.rad.Options" >
        </activity>
        <activity
            android:name="com.example.rad.RantView"
            android:label="@string/title_activity_rant_it" >
        </activity>
        <activity
            android:name="com.example.rad.NotificationSettings"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName="com.example.rad.Settings" >
        </activity>
        <activity
            android:name="com.example.rad.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.example.rad.Home" >
        </activity>
        <activity
            android:name="com.example.rad.RantIt"
            android:label="@string/title_activity_rant_it"
            android:parentActivityName="com.example.rad.Home" >
        </activity>
        <activity
            android:name="com.example.rad.Search"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.example.rad.Home" >
        </activity>
        <activity
            android:name="com.example.rad.PopupMain"
            android:label="@string/title_activity_pop_up" >
        </activity>
    </application>

</manifest>
